#app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;

    height: 100vh;
    overflow: hidden;
}

main {
    overflow: auto;
    padding: 4rem;

    & .main-container {
        max-width: 33rem;
        margin-left: auto;
    }

    & .back {
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-bottom: 1.5rem;
    }

    & h1 {
        font: 600 1.5rem/1.25 var(--font-family);
        margin-bottom: 1.5rem;

    }


}

aside {
    background-color: var(--surface-secondary);
    padding: 4rem;

    & .aside-container {
        max-width: 31rem;

        & > img {
           margin-top: 2rem;
        }
    }

    & h2 {
        font: 600 2.5rem/1.25 var(--font-family);
        margin-bottom: .5rem;

        & span {
            color: var(--text-highlight);
        }
    }
}

@media (width <= 22.562rem) {

    #app {
        overflow: auto;
        display: flex;
        flex-direction: column-reverse;
        
    } 

    main {
        overflow: unset;
        padding: 2rem;
    }

    aside {
        overflow: unset;
        padding: 1.5rem;

        & .aside-container {

            & header {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            & header img {
                width: 12.68rem;
            }

            & img {
                width: 19.5rem;
            }
            
            & header > h2,
            & header > p {
                display: none;
            }
    
        }
    }

}